.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  align-items: center;
  gap: 1rem;
  overflow: scroll;
  margin: 2rem auto;
}

.register__input {
  width: 100%;
  max-width: 300px;
}

.register__button {
  margin-top: 3rem !important;
}
